{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--    <style>-->
<!--        body {-->
<!--            margin: 0;-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            min-height: 100vh;-->
<!--        }-->

<!--        .content {-->
<!--            /* Your website content goes here */-->
<!--            flex: 1;-->
<!--        }-->

<!--        .footer {-->
<!--            background-color: #333;-->
<!--            color: white;-->
<!--            display: flex;-->
<!--            align-items: center;-->
<!--            justify-content: space-around;-->
<!--            padding: 20px 0;-->
<!--            flex-shrink: 0;-->
<!--        }-->

<!--        .footer-text {-->
<!--            text-align: center;-->
<!--        }-->

<!--        .social-icons a {-->
<!--            color: white;-->
<!--            text-decoration: none;-->
<!--            margin: 0 10px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>
    <div class="content">
        <!-- Your website content goes here -->
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="footer-text" style="text-align:center">
            <div>BOB - Bank Of Bharat</div>
            <div>Location: Near Indian Oil Pump, Kochi</div>
        </div><br>
        <div class="social-icons">
            <a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
        </div>
        <div class="social-icons">
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        </div>
    </div>

    <!-- Link Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
